# Ignore all .log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore Python virtual environments
venv/

# Ignore IDE settings (e.g., for Visual Studio Code)
.vscode/
__pycache__/
*.pyc
*.pyo
venv/
.env

