
{% block content %}

<h2>Quiz Results</h2>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>#</th>
            <th>Question</th>
            <th>Selected Answer</th>
            <th>Correct Answer</th>
            
        </tr>
    </thead>
    <tbody>
        {% for result in quizzes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ result.question.text }}</td>
                <td>
                    {% if result.selected_option %}
                        {{ result.selected_option.option_text }}
                    {% else %}
                        Not Answered
                    {% endif %}
                </td>
                <td>
                    {% for option in result.question.options.all %}
                        {% if option.is_correct %}
                            {{ option.option_text }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ result.question.explanation }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="5">No quiz data available.</td></tr>
        {% endfor %}
    </tbody>
</table>
<footer class="text-center py-4">
    <p class="mb-0 text-muted">
      © {% now "Y" %} PyMastery. Crafted with <i class="bi bi-heart-fill text-danger"></i> by 
      <a href="https://github.com/tushar-kumar-9354" target="_blank" rel="noopener" class="text-decoration-none text-primary">Tushar</a>.
    </p>
  </footer>
{% endblock %}
