
{% block content %}

<h2>Quiz Results</h2>

<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th>#</th>
            <th>Question</th>
            <th>Selected Answer</th>
            <th>Correct Answer</th>
            
        </tr>
    </thead>
    <tbody>
        {% for result in quizzes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ result.question.text }}</td>
                <td>
                    {% if result.selected_option %}
                        {{ result.selected_option.option_text }}
                    {% else %}
                        Not Answered
                    {% endif %}
                </td>
                <td>
                    {% for option in result.question.options.all %}
                        {% if option.is_correct %}
                            {{ option.option_text }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ result.question.explanation }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="5">No quiz data available.</td></tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
